<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" href="/public/assets/logo.png">
  <title>{{ title }}| Ine'stuff Crochê Contemporâneo</title>
  <script src="https://kit.fontawesome.com/40fd1bd135.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/public/styles/layout.css">
  {% block styles %}
  {% endblock styles %}
</head>
<body>

  <header>
    <a href="/"><img src="/public/assets/logo-no-bg.png"></a>
  </header>

  <button class="menuBtn" id="menuBtn"><i class="fas fa-bars"></i></button>

  <div class="side-menu-container" id="sideMenuContainer">
    <div class="side-nav">
      <button class="btn-close" id="closeBtn">&times;</button>
      <a href="/">Início</a>
      <a href="/sobre">Sobre</a>
      <a href="/blog">Blog</a>
      <a href="/loja">Loja Online</a>
      <a href="/politicas">Políticas da Loja</a>
      <a href="/contato">Contato</a>
    </div>
  </div>

      
  {% block content%}
    {{ content | safe }}
  {% endblock content%}

  <footer>
    <section class="footer fsection1">
      <p class="footer-topic">Ine'stuff</p>
      <ul>
        <a href="/"><li>Início</li></a>
        <a href="/sobre"><li>Sobre</li></a>
        <a href="/blog"><li>Blog</li></a>
        <a href="/loja"><li>Loja Online</li></a>
        <a href="/politicas"><li>Políticas da Loja</li></a>
        <a href="/contato"><li>Contato</li></a>
      </ul>
    </section>
    <section class="footer fsection2">
      <p class="footer-topic">Redes Sociais</p>
      <ul>
        <div class="social">
          <li class="circleli">
            <div class="circle">
              <a target="blank" href="https://www.instagram.com/ine.stuff/">
              <i class="fab fa-instagram"></i></a>
            </div>
          </li><p class="social-name">@ine.stuff</p>
        </div>
        <div class="social">
          <li>
            <a target="blank" href="https://www.facebook.com/inestuff/">
            <i class="fab fa-facebook"></i></a>
          </li><p class="social-name">/ine.stuff</p>
        </div>
          <div class="social">
        <li>
          <a target="blank" href="https://open.spotify.com/playlist/5rMEgEzOvReInnp9uVc1ve?si=IieiuBoWRTCxLDjHJYYjPw">
          <i class="fab fa-spotify"></i></a>
        </li><p class="social-name">Embalos da<br>Ine'stuff</p>
        </div>
      </ul>
    </section>
    <section class="footer fsection3">
      <p class="footer-topic">Newsletter Ine'stuff</p>
      <p>Receba nossas novidades:</p>
      <form>
        <input class="footer-input" type="text" placeholder="Insira seu e-mail aqui" required="required"> 
        <div><button class="footer-button" type="submit">Quero me inscrever!</button></div>
      </form>  
    </section>  
  </footer>

  <script src="/public/scripts/index.js"></script>

</body>
</html>