{% extends "layouts/base.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/public/styles/blog.css">
{% endblock styles %}

{% block content %}

  <main>
    <div class="header">
      <h1>{{ header_text }}</h1>
    </div>
    <div class="container">  
      <ul class="filter">
        <a href="/blog/"><li>Todos os posts</li></a>
        <a href=""><li>Cotidiano</li></a>
        <a href=""><li>Receitas Gratuitas</li></a>
      </ul>
      {{ content | safe }}
    </div>
  </main>

{% endblock content %}


