{% extends "layouts/base.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/public/styles/simple.css">
{% endblock styles %}

{% block content %}
  <main>
    <div class="header">
      <h1>{{ header_text }}</h1>
    </div>
    <div class="container">
      {{ content | safe }}
    </div>  
  </main>
{% endblock content %}

