.container {
  padding: 0 16px;
}

.img01,
.img02 {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .img01 {
    float: right;
    margin-left: 16px;
  }
  .img02 {
    float: left;
    margin-right: 16px;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
}