.header {
  width: 100%;
  height: 200px;
  background: url("/public/assets/stripes-bg.jpg") no-repeat;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

main {
  text-align: left;
  background: white;
  padding-bottom: 40px;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
}

p {
  font-weight: 300;
}

.filter {
  margin-bottom: 16px;
}

.container {
  padding: 0 16px;
}

.blog {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 32px;
}
.blog-thumb {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.blog-author,
.blog-date {
  font-size: 12px;
}
.blog-title {
  padding: 8px 0;
}
.blog-title a:hover {
  color: darksalmon;
}
.blog-info {
  border-bottom: 1px solid lightgray;
}

.post-body {
  margin: 32px 0;
}
.post-author {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.post-img {
  width: 100%;
  height: auto;
}
.post-body .text-body {
  line-height: 2em;
}

.text-body ul,
.text-body ol {
  padding-left: 16px;
}
.text-body li {
  list-style: disc;
}

@media (min-width: 600px) {
  .filter {
    display: flex;
  }
  li {
    margin-right: 32px;
  }
  /*.posts { alinhar lista verticalmente
  }*/
  .blog {
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(236, 236, 236);
  }
  .blog-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: none;
    padding: 16px;
  }
  .blog-title {
    font-size: 24px;
  }

  .post-body {
    border: 1px solid rgb(236, 236, 236);
    padding: 56px;
  }
}