.cont {
  display: grid;
  grid-template-columns: 1fr;
}

.cont .title {
  text-align: center;
}

.hidden {
  display: none;
}

.right {
  margin-top: 40px;
}

span,
.cont p {
  text-align: center;
  line-height: 1.6em;
}
.cont a {
  font-weight: 700;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 24px;
}

input,
textarea {
  padding: 4px;
  margin: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
}
input:focus,
textarea:focus {
  outline: none;
}

.button {
  margin-top: 8px;
  padding: 4px 32px;
  border: none;
  background-color: #FFD8D3;
  transition: all 500ms;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: darksalmon; 
}

@media (min-width: 600px) {
  .cont {
    grid-template-columns: 1fr 1fr;
  }  
  .cont p,
  .cont h2,
  .cont .title {
    text-align: left;
  }

  .right {
    margin-top: 0;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
  .button {
    max-width: 200px;
    margin: 0 auto;
  }
}