main {
  padding: 0 16px;
  margin-bottom: 32px;
}

.swiper-container {
  margin: 32px 0;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.recipe .img-container {
  overflow: hidden;
}
.img-container img {
  width: 80%;
  transition: all 250ms;  
  cursor: pointer;
}
.img-container:hover img {
  transform: scale(1.1);
}

.recipes .button {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #F675b3;
  color: white;
  border: none;
  font-weight: 200;
  transition: all 250ms;
}
.recipes a:hover {
  background-color: #fd9fcc; 
}

.blog {
  background: #FFD8D3;
  margin: 40px 0;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr;
}
.blog-img-container {
  object-fit: cover;
}
.blog-img {
  width: 80%;
}

.spotify {
  background: url("/public/assets/stripes-bg.jpg") no-repeat;
}

.spotify h1 {
  padding: 32px;
}

iframe {
  width: 280px;
  height: 400px;
  border: none;
}

.instagram h1 {
  margin: 8px 0;
}

.insta-posts {
  background: #FFD8D3;
  padding: 32px 40px;
}

@media (min-width: 560px) { 
  .swiper-container {
    max-width: 800px;
    height: 400px;
    background: #fff;
  }
  .swiper-slide {
    background: white;
    border: 1px solid pink;
    padding: 0 40px;
  }
  .swiper-slide1 {
    max-width: 800px;
    height: 398px;
    background: url('/public/assets/carrossel/01-topic.png');
  }
  .sl1-text {
    padding-top: 240px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Kalam', cursive;
  }
  .swiper-slide2,
  .swiper-slide4 {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "topic image"
      "text image"
  }
  .sl2-topic,
  .sl4-topic {
    grid-area: topic;
    font-weight: 600;
    font-size: 32px;
    font-family: 'Kalam', cursive;
    align-self: end;
    text-align: left;
    padding: 16px;
  }
  .sl2-text,
  .sl4-text {
    grid-area: text;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Kalam', cursive;
    text-align: left;
    padding: 16px;
  }
  .sl2-image,
  .sl4-image {
    grid-area: image;
  }
  .sl2-image,.sl3-image,.sl4-image {
    margin: 8px;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
  }
  .swiper-slide3 {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image empty"
      "image tt"
  }
  .sl3-empty {
    grid-area: empty;
  }
  .sl3-tt {
    grid-area: tt;
    align-self: end;
  }
  .sl3-topic {
    font-weight: 600;
    font-size: 32px;
    font-family: 'Kalam', cursive;
    align-self: end;
    text-align: right;
    padding: 16px;
  }
  .sl3-text {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Kalam', cursive;
    text-align: right;
    align-self: flex-start;
    padding: 16px;
  }
  .sl3-image {
    grid-area: image;
  }

  .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  } 

  .spotify {
    display: flex;
  }
  .spotify h1,
  .instagram h1 {
    font-size: 2em;
    text-align: left;
  }
  iframe {
    width: 320px;
    height: 400px;
    border: none;
  }

  .instagram h1 {
    margin-left: 32px;
  }
}