* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  background-color: #000;
  filter: blur(1px);
  position: fixed;
  border-radius: 50%;
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
section p {
  font-weight: 300;
}

header img {
  padding-top: 16px;
  transform: scale(0.8);
  margin-bottom: 32px;
}

.menuBtn {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3d384770;
  color: white;
  font-size: 24px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  position: absolute;
  top: 160px;
  right: 64px;
  border: 0;
  cursor: pointer;
}
.menuBtn.hide {
  opacity: 0;
  pointer-events: none;
}

.side-menu-container {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255, 0.5);
  transition: opacity 250ms;
}
.side-menu-container.show {
  opacity: 1;
  pointer-events: auto;
}

.side-nav {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  padding-top: 60px;
  z-index: 10;
}

.side-nav a {
  padding: 20px 30px;
  color: #ccc;
  display: block;
  text-align: right;
}

.side-nav .btn-close {
  position: absolute;
  background: transparent;
  border: none;
  color: white;
  top: 16px;
  left: 16px;
  font-size: 36px;
}

footer {
  margin-top: auto;
  padding: 32px;
  height: 440px;
  background: url("/public/assets/stripes-bg.jpg");
  background-position: center;
  font-weight: 300;
}

.footer {
  padding-bottom: 4px;
}

.footer-topic {
  font-weight: 700;
  padding: 8px 0 4px 0;
}

.fa-facebook,
.fa-spotify {
  font-size: 1.5em;
}

.fa-instagram {
  color: white;
  font-size: 1.2em;
}
.circleli {
  display: flex;
  justify-content: center;
}
.circle {
  width: 26px;
  height: 24px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fsection1 li,
.fsection2 li {
  padding: 4px;
}

.social {
  display: flex;
  flex-direction: column;
}

.fsection2 ul {
  display: flex;
  justify-content: space-evenly;
}

.fsection2 .social-name {
  display: none;
}

.footer-input {
  background: lightgray;
  border: none;
  padding: 8px 8px;
  width: 200px;
}

.footer-button {
  margin-top: 8px;
  width: 200px;
  padding: 8px 8px;
  border: none;
  background-color: #FFD8D3;
  transition: all 500ms;
  cursor: pointer;
}
.footer-button:hover {
  background-color: transparent;
  color: darksalmon; 
}

@media (min-width: 560px) {
  header img {
    transform: scale(1);
  }

  .menuBtn {
    width: 80px;
    height: 80px;
    background-color: #3d384770;
    color: white;
    font-size: 40px;
    position: fixed;
    top: 32px;
    left: 64px;
  }

  .side-menu-container {
    left: 0;
    background-color: rgba(255,255,255, 0.4);
  }

  .side-nav {
    left: 0;
    width: 240px;
  }

  .side-nav .btn-close {
    top: 16px;
    left: auto;
    right: 32px;
    font-size: 40px;
    cursor: pointer;
  }

  .side-nav a {
    text-align: left;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
    height: 300px;
  }
  footer ul {
    flex-direction: column;
  }
  footer p {
    padding-bottom: 16px;
  }
  .fsection1 {
    text-align: left;
  }
  .social {
    flex-direction: row;
    margin: 4px 0;
  }
  .fsection2 .social-name {
    display: inline-flex;
    padding-bottom: 0;
    align-items: center;
    margin-left: 8px;
  }
}