.header {
  width: 100%;
  height: 200px;
  background: url("/public/assets/stripes-bg.jpg") no-repeat;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

main {
  text-align: justify;
  background: white;
  padding-bottom: 40px;
}

.title {
  text-align: center;
}

.container {
  padding: 0 16px;
}

span {
  line-height: 1.5em;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

span {
  font-weight: 300;
}

@media (min-width: 560px) {
  .title {
    text-align: left;
  }
  h1 {
    font-size: 2.5em;
  }
}