.header {
  width: 100%;
  height: 200px;
  background: url("/public/assets/stripes-bg.jpg") no-repeat;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

main {
  text-align: left;
  background: white;
  padding-bottom: 40px;
  font-weight: 300;
}

a {
  display: inline;  
}

.store-container {
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.store {
  text-align: center;
}
.store-thumb {
  max-width: 280px;
  height: auto;
  margin-bottom: 4px;
}
.store-title,
.store-price {
  text-align: center;
}

.tree-path,
.nav-buttons {
  display: none
}
.back-to-store {
  display: block
}
.prod-header {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  font-weight: 600;
  cursor: pointer;
  color: gray;
}
.prod-container {
  padding: 0 16px;
}
.prod-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prod-img {
  max-width: 320px;
  height: auto;
  margin-bottom: 16px;
  cursor: zoom-in;
}
.prod-gallery{
  padding-left: 24px;
}
.prod-gallery-img {
  width: 16%;
  height: auto;
  cursor: pointer;
}

.prod-title {
  font-size: 32px;
}
.prod-price {
  font-size: 24px;
  color: pink;
  padding: 16px 0;
}
.button-container {
  display: flex;
  justify-content: center;
}
.button {
  margin-bottom: 16px;
  width: 200px;
  padding: 8px;
  border: none;
  background-color: pink;
  color: white;
  transition: all 500ms;
  cursor: pointer;
}
.button:hover {
  background-color: #FFD8D3;
}
.prod-type,
.prod-size {
  padding: 4px 0;
}
.price_id {
  display: none;
}
.prod-description {
  max-width: 480px;
  padding: 8px 0;
}
.prod-description ul,
.prod-description ol {
  padding-left: 16px;
}
.prod-description li {
  list-style: disc;
}

.disclaimer {
  max-width: 480px;
}
.topic {
  color: darkred;
  font-weight: 500;
}

.disclaimer p {
  margin-bottom: 8px;
}

/* img gallery */
.modal-container {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255, 0.5);
  transition: opacity 250ms;
}
.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  display: flex;
  justify-content: center;
}
.modal .prod-img-modal {
  width: auto;
  height: 100%;
}
.modal .btn-close {
  background: transparent;
  border: none;
  color: black;
  position: fixed;
  top: 16px;
  right: 16px;
  font-size: 36px;
}
.prod-img-modal {
  width: auto;
  height: auto;
}


@media (min-width: 600px) {
  .store-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width: 800px) {
  .back-to-store {
    display: none
  }
  .tree-path,
  .nav-buttons {
    display: block;
  }

  .prod-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;    
  }
  .prod-img {
    max-width: 480px;
    height: auto;
    margin-bottom: 16px;
  }
  .prod-gallery{
    padding-left: 0;
  }
  .button-container {
    justify-content: flex-start;
  }
  .button {
    width: 320px;

  }
}