---
layout: "layouts/blog.njk"
title: "Blog "
header_text: "Os trecos da Ine"
pagination: 
  data: blog
  size: 10
  alias: posts
---
  {% block styles %}
    <link rel="stylesheet" href="/public/styles/blog.css">
  {% endblock styles %}

    <ul class="posts">    
      {% for post in posts %}
        <li class="blog">
          <div>
            <img class="blog-thumb" src="{{ post.fields.thumbnail.fields.file.url }}"><br>
          </div>
          <div class="blog-info">
            <div class="blog-author">{{ post.fields.author }}</div>
            <time class="blog-date"
              datetime="{{ post.fields.postDate | dateIso }}">{{ post.fields.postDate | dateReadable }}
            </time>
            <div class="blog-title"><strong><a href={{ post.fields.url | slug }}>{{ post.fields.title }}</a></strong></div>
            <div class="blog-description"><span>{{ post.fields.description }}</span></div>
            <br>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>