---
layout: "layouts/simple.njk"
permalink: /contato/
title: "Contato "
header_text: "Contato"
---
{% block styles %}
  <link rel="stylesheet" href="/public/styles/contact.css">
{% endblock styles %}
<div class="cont">
  <div class="left">
    <h2 class="title">Aulas presenciais</h2>
    <p><br></p>
    <p>Quer fazer aulas de crochê comigo?</p>
    <p><a href="mailto:contato.inestuff@gmail.com?subject=Quero saber mais sobre Aulas Particulares de Crochê!">Escreva-me!</a></p><br>
  </div>
  <div class="right">
    <h2 class="title">Dúvidas, encomendas ou sugestões?</h2>
    <h2 class="title">Conte-nos aqui:</h2><br>
    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
      <p class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
      <input type="text" name="name" placeholder="Nome" required="required">
      <input type="email" name="email" placeholder="Email" required="required">
      <input type="text" name="whatsapp" placeholder="Whatsapp">
      <input type="text" name="subject" placeholder="Assunto" required="required">
      <textarea name="message" placeholder="Mensagem" rows="5" required="required"></textarea>
      <button class="button" type="submit">Envie</button> 
    </form>
  </div>
  <p><br></p>
  </div>