---
layout: "layouts/base.njk"
permalink: /
title: "Amigurumi "
---
  {% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  {% endblock styles %}

  <main class="main-index">
    <section class="carousel">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="swiper-slide1">
              <p class="sl1-text">Um blog com receitas gratuitas e uma lojinha virtual<br/>
              feitos especialmente para os amantes de bonecos de crochê!</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide2">
              <p class="sl2-topic">Conheça minha história</p>
              <p class="sl2-text">Quem sou e o que eu gostaria de construir nesse espacinho virtual.</p>
              <a class="sl2-image" href="/sobre">
                <img  src='/public/assets/carrossel/02.png' alt="">
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide3">
              <a class="sl3-image" href="/blog">
                <img src='/public/assets/carrossel/03.png' alt="">
              </a>
              <div class="sl3-empty"></div>
              <div class="sl3-tt">
                <p class="sl3-topic">Acompanhe meu cotidiano</p>
                <p class="sl3-text">​Os processos criativos e todas as inquietações do dia-a-dia, além das receitinhas gratuitas, tudo lá no blog!</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide4">
              <p class="sl4-topic">Leve algumas cores para casa</p>
              <p class="sl4-text">Loja online de bonecos autorais e receitas exclusivas.</p>
              <a class="sl4-image" href="loja">
                <img src='/public/assets/carrossel/04.png' alt="">
              </a>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    
    </section>

    <section class="recipes">
      <div class="recipe">
        <div class="img-container">
          <a href="/loja/{{ store[0].fields.url | slug }}">
            <img src="{{ store[0].fields.thumbnail.fields.file.url }}">
          </a>
        </div>
        <p>{{store[0].fields.title}}</p>
        <a class="button" href="/loja/{{ store[0].fields.url | slug }}">Saiba mais!</a>
      </div>
      <div class="recipe">
        <div class="img-container">
          <a href="/loja/{{ store[1].fields.url | slug }}">
            <img src="{{store[1].fields.thumbnail.fields.file.url}}">
          </a>
        </div>
        <p>{{store[1].fields.title}}</p>
        <a class="button" href="/loja/{{ store[1].fields.url | slug }}">Saiba mais!</a>
      </div>
    </section>

    <section class="blog">
      <div class="blog-img-container">
        <a href="/blog/{{ blog[0].fields.url | slug }}">
          <img class="blog-img" src="{{blog[0].fields.thumbnail.fields.file.url}}">
        </a>
      </div>
      <div class="blog-img-container">
        <a href="/blog/{{ blog[1].fields.url | slug }}">
          <img class="blog-img" src="{{blog[1].fields.thumbnail.fields.file.url}}">
        </a>
      </div>
      <div class="blog-img-container">
        <a href="/blog/{{ blog[2].fields.url | slug }}">
          <img class="blog-img" src="{{blog[2].fields.thumbnail.fields.file.url}}">
        </a>
      </div>  
    </section>


    <section class="spotify">
      <div>
        <h1>Conheça os ritmos que movem essas agulhas!</h1>
      </div>
      <div>
        <iframe src="https://www-inestuff-com.filesusr.com/html/da7ba9_fef6d4939231305f1ab3d30a8d68474e.html"></iframe>
      </div>

    </section>

    <section class="instagram">
      <h1>Novidades no Instagram</h1>
      <div class="insta-posts">

      </div>
    </section>
  </main>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    const mySwiper = new Swiper('.swiper-container', {
      // Optional parameters
      loop: true,
      speed: 1000,
      autoplay: {
        delay: 2000,
      },
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    })
  </script>