---
layout: "layouts/store.njk"
permalink: /loja/
title: "Loja "
header_text: "A loja da Ine"
pagination: 
  data: store
  size: 30
  alias: products
---
<div class="store-container">
  {% for prod in products %}
  <div class="store">
    <a href={{ prod.fields.url | slug }}>
      <div>
        <img class="store-thumb" src="{{ prod.fields.thumbnail.fields.file.url }}"><br>
      </div>
      <div class="store-title">{{ prod.fields.title }}</div>
      ---
      <div class="store-price">{{ prod.fields.price | priceFormat }}</div>
    </a>
  </div>
  {% endfor %}
</div>
