---
layout: "layouts/simple.njk"
permalink: /politicas/
title: "Políticas da loja "
header_text: "Políticas da Loja"
---
{% block styles %}
  <link rel="stylesheet" href="/public/styles/policy.css">
{% endblock styles %}

  <h2 class="title">Caro Cliente</h2>
  <p><br></p>
  <span>Os produtos disponibilizados em nosso catálogo se dividem em duas categorias: digitais e físicos.</span>
  <p><br></p>
  <span>Os produtos digitais são arquivos em PDF contendo receitas autorias de bonecos em crochê - amigurumi - sujeitos às regras que asseguram os direitos autorais da criadora do conteúdo neles presente.</span>
  <p><br></p>
  ​<span>Já os produtos físicos são bonecos autorais em crochê feitos artesanalmente, disponibilizados à pronta-entrega, sem possibilidade de personalização. Por se tratar de peças produzidas à mão, as medidas indicadas são sempre aproximadas e podem apresentar pequenas variações de cor e textura em decorrência dos variados lotes de fios e acessórios disponíveis no mercado.
  <p><br><br></p>

  <h2 class="title">Segurança e Privacidade</h2>
  <p><br></p>
  <span>Os dados pessoais fornecidos pelos clientes serão utilizados apenas para processamento dos pedidos realizados, não sendo divulgados a terceiros sob nenhuma hipótese.</span>
  <p><br><br></p>

  <h2 class="title">Entrega dos Produtos</h2>
  <p><br></p>
  <span>Os produtos digitais são entregues via e-mail cadastrado pelo cliente logo após a confirmação de pagamento, que pode variar de acordo com a forma escolhida na finalização do pedido (ex: boletos demoram até 03 dias úteis para serem processados). No caso de produtos em pré-venda, a data para início do envio estará indicada na página de venda do produto e, dependendo da demanda, o cliente poderá receber seu arquivo em até 02 dias após a data prevista.</span>
  <p><br></p>
  <span>As entregas dos produtos físicos são feitas para todo o Brasil via Correios. O cliente deve se responsabilizar por informar os dados pessoais e endereço de entrega corretamente, bem como a disponibilidade para receber a encomenda na data prevista. Quanto aos prazos de entrega, o cliente receberá via e-mail o código de rastreio emitido pelos Correios assim que a encomenda for postada, sendo de responsabilidade dos Correios informar a previsão de entrega.</span>
  <p><br></p>
  <span>Para clientes residentes na cidade de São Paulo / SP, há a possibilidade de retirada em mãos sem cobrança de frete na região da Estação Ana Rosa do Metrô. Caso escolhida essa opção, será enviado um e-mail após a confirmação do pagamento para combinar melhor data e horário para a retirada.</span>
  <p><br></p>
  ​
  <h2 class="title">Políticas de Troca e Devoluções</h2>
  <p><br></p>
  <span>Os produtos digitais não poderão ser devolvidos. Portanto, não há possibilidade de ressarcimento do valor investido, com exceção de desistências durante as campanhas de pré-venda mediante envio de e-mail solicitando o cancelamento do pedido, que deverá ser feito em até 01 dia antes da data prevista para o lançamento do produto.</span>
  <p><br></p>
  <span>A devolução dos produtos físicos após seu recebimento serão aceitas apenas em casos de danos causados à peça durante o trajeto via Correios e imediatamente após sua entrega. Nessa situação, um e-mail deve nos ser enviado em até 24 horas informando sobre o ocorrido, sendo assim combinado a troca por um novo produto ou sua devolução e estorno do valor da compra.</span>
  <p><br><br></p>

  <h2 class="title">Formas de Pagamento</h2>
  <p><br></p>
  <span class="payment">
  - Débito, Crédito e Boleto (PagSeguro ou PayPal)<br>
  - Depósito/transferência bancária (Bradesco ou Nubank)<br>
  - PicPay</span>