---
layout: layouts/blog.njk
title: "Posts "
header_text: "Os trecos da Ine"
pagination:
  data: blog
  size: 1
  alias: post
permalink: '/blog/{{ post.fields.url | slug }}/'
---

<div class="post-body">
  <div class="post-author">
    <div>{{ post.fields.author }}</div>
    <time datetime="{{ post.fields.postDate | dateIso }}">{{ post.fields.postDate | dateReadable }}</time>
  </div>
  <br>
  <h2> {{ post.fields.title }} </h2>
  <br>
  <img class="post-img" src="{{ post.fields.thumbnail.fields.file.url }}"><br>
  <br>
  <!-- {% if post.fields.text.nodeType %} -->
    <div class="text-body">
      {% richText post.fields.text %}
    </div> 
  <!-- {% endif %} -->
</div>