---
layout: layouts/store.njk
title: "Produtos "
header_text: "A Loja da Ine"
pagination:
  data: store
  size: 1
  alias: prod
permalink: '/loja/{{ prod.fields.url | slug }}/'
---
<div class="modal-container" id="modal-container">
  <div class="modal">
    <img
      class="prod-img-modal"
      id="modalImg"
      src="">
    <button class="btn-close" id="closeModal">&times;</button>
  </div>  
</div>
<div class="prod-header">
  <div class="back-to-store">
    <a class="nav-link" href="/loja"> < Voltar para Loja Online
  </div>
  <div class="tree-path">
    <span><a class="nav-link" href="/">Início</a> / </span>
    <span><a class="nav-link" href="/loja"> Loja Online</a> / </span>
    <span> {{ prod.fields.title }}</span>
  </div>
  <div class="nav-buttons">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}"
        class="nav-link">< Anterior
      </a> | {% else %}< Anterior |{% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}"
      class="nav-link">Próximo ></a>{% else %}Próximo >{% endif %}
  </div>
</div>

<div class="prod-container">
  <div class="prod-img-container">
    <img
      class="prod-img"
      id="mainImg"
      src="{{ prod.fields.image[0].fields.file.url }}">
    <div class="prod-gallery">
      {% for prod-img in prod.fields.image %}
        <img
          onClick="imgSlider('{{ prod-img.fields.file.url }}')"
          class="prod-gallery-img"
          src="{{ prod-img.fields.file.url }}">
      {% endfor %}
    </div>
  </div>

  <div class="prod-info">
    <div class="prod-title">
      {{ prod.fields.title }}
    </div>
    <div class="prod-price">
      {{ prod.fields.price | priceFormat}}
    </div>
    <div class="button-container">
      <button class="button" id="checkout-button">
        Comprar
      </button><br>
    </div>
    Especificações Técnicas:
    <div class="prod-type">
      Tipo do arquivo: {{ prod.fields.type }}
    </div>
    <div class="prod-size">
      Tamanho: {{ prod.fields.size }} MB
    </div>
    <div class="price_id" id="price_id">
      {% handleProduct prod.fields.title %} 
    </div>
  </div>
  <div class="prod-description">
    {% richText prod.fields.description %}
  </div>
  <div class="disclaimer">
    <p class="topic">Importante!</p>
    <p>Você receberá o link para fazer download deste produto digital na página de agradecimento do pedido, junto com um link enviado no e-mail cadastrado que terá a validade de 30 dias.</p>

    <p class="topic">Política de devolução:</p>
    <p>Os <strong>produtos digitais</strong> não poderão ser devolvidos. Portanto, não há possibilidade de ressarcimento do valor investido.</p>

    <p class="topic">Direitos Autorais:</p>
    <p>A receita e todo o conteúdo do arquivo que você está prestes a adquirir foram criados e desenvolvidos por <strong>Francine Soares</strong> da <strong>© {{ prod.fields.year }} Ine'stuff Crochê Contemporâneo</strong> e todos os direitos estão reservados. <strong>NÃO É AUTORIZADA</strong> a distribuição gratuita, online ou offline, e a comercialização do conteúdo presente nesse material. No entanto, VOCÊ PODE vender e divulgar os produtos feitos por você a partir dessa receita, sempre dando os devidos créditos de autoria, divulgando o site www.inestuff.com ou o perfil de Instagram @ine.stuff e hashtag #oficinainestuff, apoiando assim o meu trabalho e colaborando para que esse projeto cresça a cada dia um pouco mais!</p>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="/public/scripts/product.js"></script>
