---
layout: "layouts/simple.njk"
permalink: /sobre/
title: "Sobre "
header_text: "Tecendo ideias com as mãos"
---
  {% block styles %}
    <link rel="stylesheet" href="/public/styles/about.css">
  {% endblock styles %}
    <div class="container">
      <img class="img01" src="/public/assets/sobre01.png"><br>
      <div class="text-left">
      <span><strong>“Ine”</strong> é um apelido carinhoso que recebi na minha infância, maneira mais simples que meu irmão encontrou para pronunciar um nome deveras comprido: <strong>Francine</strong>. “Ine” também se assemelha graficamente com “ini”, palavra tupi para nomear a rede em que se deita para o descanso. Feliz coincidência, já que meu relacionamento com o crochê teve início quase que simultaneamente à minha pesquisa de mestrado sobre o fascinante universo dos ritos e costumes que circundam as nossas tão queridas redes de dormir!</span>
      <p><br></p>
      <span><strong>“Stuff”</strong> é a palavra inglesa para designar “coisas”, “ferramentas”, “ingredientes”, “produtos”... Para nós, bonequeiras, “stuff”, ou o verbo “encher, “colocar enchimento”, é o momento mais importante na confecção de um boneco, no qual damos alma para a nova criatura que está surgindo.</span>
      <p><br></p>
      </div>
      <span>A <strong>Ine’stuff</strong> já se transformou MUITO desde suas primeiras vendas, lá em Março de 2017, enquanto eu ainda trabalhava com fio de malha e vendia cachecóis em tricô de braço para meus amigos. Segurou muito as pontas durante o mestrado, tanto como fonte de renda quanto uma terapia manual em tempos de crise (que foram tantas!).</span><br>
      <p><br></p>
      <span>Mas foi só em meados de 2018 que me apaixonei perdidamente pela técnica do Amigurumi! Cheguei até ela por necessidade e, quase sem perceber, já estava comprando toda a cartela de cores do fio de algodão e uma receita nova a cada quinze dias… Estudei muito a prática, experimentei várias formas de circular pelo mercado - desde vender meus produtos em feiras à ensinar meus conhecimentos em oficinas e aulas particulares -, conheci muita gente querida que têm me ajudado a repensar quem sou nesse meio e como sigo com a marca daqui por diante… </span><br>
      <p><br></p>
      <img class="img02" src="/public/assets/sobre02.png"><br>
      <div class="text-right">
        <span><strong>Esse site é o pontapé inicial de uma nova fase!</strong></span><br>
        <p><br></p>
        <span>Com ele, pretendo materializar o turbilhão de ideias que vêm pairando na minha mente ou, ao menos, compartilhar um pouquinho dessas maluquices artesanais que vêm surgindo, ainda timidamente, em forma de receitas e bonecos autorais!</span><br>
        <p><br></p>
        <span>Sejam muito bem-vindos ao cantinho dos Trecos da Ine! Espero que se divirtam por aqui!</span><br>
      </div>
    </div>
