---
layout: "layouts/simple.njk"
permalink: /sucesso/
title: "Compra efetuada  "
header_text: "A Loja da Ine"
---

<h2>Muito obrigado pela sua compra!</h2>

<p>Segue o link para o download da sua receita.</p>

<p>O link também foi enviado para o email xxx@gmail.com</p>